*
{
  text-transform: capitalize;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#title
{
  top:5%;
  position: absolute;
  left:540px;

}
table { 
  top:150px;
  border-radius:30px ;
  left:420px;
  position: absolute;
  display: block; 
  margin-left: auto; 
  margin-right: auto;
} 

input[type="button"] { 
  width: 100%; 
  padding: 20px 40px; 
  box-shadow:1px 1px 10px black; 
  background-color:blue; 
  color: white; 
  font-size: 24px; 
  font-weight: bold; 
  border: none; 
  border-radius: 5px; 
}
input[type="button"]:hover
{
  transform: scale(1.05);
} 

input[type="text"] { 
  padding: 20px 30px; 
  font-size: 24px; 
  font-weight: bold; 
  border: none; 
  border-radius: 5px; 
  box-shadow:1px 1px 10px black; 
}
#mode
{
  position: absolute;
  top:25px;
  right:10%;
}
.btn
{
  border:none;
  height:30px;
  width:30px;
  box-shadow: inset -1px -1px 5px grey;
}
#display
{
  position: absolute;
  top:120px;
  left:580px;
}
.btn-c
{
  height:20px;
  width:70px;
  color:white;
  font-style: bold;
  background-color:black;
  border: none;
  box-shadow: 0px 0px 10px violet;
}

button
{
  border-radius: 25px;
  border: none;
  box-shadow:1px 1px 5px black;
}
@media screen and (min-device-width: 320px) and (max-device-width:600px)
{
#title
{
  top:10%;
  position: absolute;
  left:200px;
  font-size:80px;
}
table { 
  top:550px;
  border-radius:30px ;
  left:200px;
  position: absolute; 
  margin-left: auto; 
  margin-right: auto;
} 

input[type="button"] { 
  width: 150px; 
  padding: 20px 40px; 
  background-color:blue; 
  color: white; 
  font-size: 24px; 
  font-weight: bold; 
  border: none;
  height:150px; 
  border-radius: 5px;
  left:10px;
}
input[type="text"]
{
  padding: 20px 30px; 
  font-size: 24px; 
  height:90px;
  font-weight: bold; 
  border: none; 
  border-radius: 5px; 
  width:390px;
  box-shadow:1px 1px 10px black; 

} 
#display
{
  position: absolute;
  top:400px;
  left:280px;
}
.btn-c
{
  height:50px;
  width:200px;
  color:white;
  font-style: bold;
  background-color:black;
  font-size: 30px;
  border: none;
  box-shadow: 0px 0px 10px violet;
}
.btn
{
  border:none;
  height:40px;
  width:40px;
  box-shadow: inset -1px -1px 5px grey;
}



}